main {
    padding-top: 91px;
}

.contact-info {
    display: inline-block;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;

}

.nav.nav-tabs {
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #d3e0e9 !important;
}

.nav.nav-tabs li.active a {
    font-weight: 700;
}

.nav-tabs > li > a {
    padding: 0 15px;
}

.panel-default > .panel-heading {
    height: 43px;
    font-weight: 700;
}

.btn.btn-success.form-control {
    background-color: #3097D1;
}

.footer-text, .center-text {
    text-align: center;
}

.list-group-item > .badge {
    background-color: #3097D1;
}

i.glyphicon {
    font-size: 17px;
}

i.glyphicon.author, i.glyphicon.commenter {
    font-size: 35px;
}

.panel-heading i.glyphicon {
    font-size: 17px;
}

.author {
    color: #3097D1;
}

.commenter {
    color: #d11828;
}

.message-body.left {
    margin-left: 50px;
}

.message-body.right {
    margin-right: 50px;
}

.admedia {
    position: fixed;
}

.admedia img {
}

.admedia.left-ad img {

}

.sidebar-nav-fixed {
    width: 10%;
}

.img-container img {
    width: 100%;
    height: auto;
}
.case-description {
    color: #000;
    height: auto;
    bottom: 0;
    text-align: left;
    background: #fff;
    opacity: .7;
    min-height: 160px;

    width: 100%;
    padding: 20px;
    position: absolute;

    display: none;
}
.case-display {
    display: block;
}

.case-description h4 {
    font-size: 1.25rem;
    line-height: 2rem;
}
.case-description small {
    font-size: 77%;
}
.case-section {
    margin-bottom: 40px;
}